.container
  .row.tagline
    .col-md-8
      %h2.subheader
        Increase your 
        %strong 
          %i user engagement 
        and 
        %strong 
          %i sales 
        with good recommendations
    #call_to_action.col-md-4
      %a#download_btn.btn.btn-lg.btn-block.btn-primary{:href => "https://github.com/grahamjenson/hapiger"}
        %i.fa.fa-github.icon
        Get the Source
      %a.btn.btn-lg.btn-block{:href => "https://github.com/grahamjenson/hapiger"}
        %i.fa.fa-book.icon
        Documentation
  .row
    %section#install.col-md-8
      != $README

    .col-md-4
      %br
      .email-form.pull-left
        .centering{style: 'text-align: center;'}
          %h4 Keep Up
          %h5 Enter your email to be the first to know about all things HapiGER
        = form_tag("/subscribe", method: "post", :name => 'eaddress', :class => 'validate') do
          .input-group
            %input.email.form-control{:name => "EMAIL", :placeholder => "E-mail address", :type => "email", :value => ""}
            %span.input-group-btn
              %input.button.btn.btn-default{:name => "subscribe", :type => "submit", :value => "Subscribe"}
